.page-container {
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 20px;
  padding-left: 50px;
  display: inline-flex !important;
}

@media only screen and (max-width : 992px) {
  .page-container {
    padding-left: 0;
    display: flex !important;
  }
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.side-by-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  justify-content: center;
  align-items: center;
}
.side-by-side >* {
  margin: 5px 5px;
}

.bold {
  font-weight: bold;
}

.margin-sm {
  margin: 5px;
}

.margin {
  margin: 20px;
}

.button-sm {
  padding: 0 10px !important;
}

.pad-sides-sm {
  padding: 0 8px !important;
}

#github-link {
  display: flex !important;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
  margin-bottom: 10px;
}

#overlay, .overlay {
  position: absolute;
  object-position: left top;
  top: 0;
  left: 0;
}

#overlay2, .overlay2 {
  position: absolute;
  top: 0;
  left: 0;
}

#facesContainer canvas {
  margin: 10px;
}

input[type="file"]::-webkit-file-upload-button {
    background: #26a69a;
    border: 1px solid gray;
    cursor: pointer;
    color: #fff;
    border-radius: .2em;
}

.defaultlist li {
    display: list-item; 
    list-style-type:disc;
}

video {
  width: 448px;
  height: 448px;
  object-fit: none;
/*  object-position: 50% 50%;*/
}

.bbox {
  filter: grayscale(100%);
/*  object-position: left top;
*/}
